* {
  font-family: UbuntuMono Nerd Font;
  font-size: 13px;
  color: #fff1d6;
}

window#waybar {
  background-color: rgba(160, 90, 0, 0.7);
  border-radius: 500px;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

#workspaces button {
  border-radius: 6px;
  margin: 0 2px;
  padding: 0 4px;
  background-color: #918877;
  font-weight: bold;
}

#workspaces button.active {
  background-color: #cfa048;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#pulseaudio-slider,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,
#mpd {
  padding: 0px 8px;
  font-weight: bolder;
}

#window,
#workspaces {
  margin: 0 8px;
}

#window {
  background-color: transparent;
  color: white;
  font-weight: bold;
  padding: 0 8px;
  border-radius: 8px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#tray {
  background-color: transparent;
  border: none;
}
#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

